*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box-app-meet-our-team{
    max-width: 1140px;
    margin: auto;

}




/* TESTI */

.text-important{
    font-family: 'Fredoka One', cursive;
}

.text-normal{
    font-family: 'Exo 2', sans-serif;
}

.box .testo-box{
    color: white;
}

.box .mail-box{
    text-decoration: none;
    color: #6ecbf2;
}

.sottotitolo .text-important {
    padding-top: 50px;
    font-size: 35px ;
    text-align: center;
    color: #e53170 ;
}

.paragrafo .text-normal{
    padding: 65px 0 0;
    text-align: center;
}


/* /TESTI */





/* FLOAT  */

.clearfix::after{
    content:'';
    display: block;
    clear: both;
}

.contenitore-principale .box {
    float: left;
    background-color: #0f0e17;
    margin: 50px 30px 0 0;
    width: calc((100% / 3) - 20px);
    -webkit-box-shadow: -2px 1px 15px 1px rgba(0,0,0,0.67); 
    box-shadow: -2px 1px 15px 1px rgba(0,0,0,0.67);
    border-radius: 100px 10px 10px 100px;
}

.contenitore-principale .box:nth-child(3n+0) {
    margin: 50px 0 0 0;
  }

  .box .content-pagina{
    margin:  13px 0 0 22px;
    display: inline-block; 
    width: calc(70% - 15px);
    line-height :25px;
  }

/* /FLOAT  */





/* IMG  */

img{
    float: left;
    display: block;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: -2px 1px 15px 1px rgba(0,0,0,0.67); 
    box-shadow: -2px 1px 15px 1px rgba(0,0,0,0.67);

}

/* /IMG  */


.test-neon {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    text-shadow:
        0 0 7px #e53170,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 25px #e53170,
        0 0 29px #e53170,
        0 0 33px #e53170;
        /* 0 0 37px #e53170,
        0 0 40px #e53170;
        /* 0 0 45px #e53170,
        0 0 48px #e53170,
        0 0 51px #e53170,
        0 0 92px #e53170,
        0 0 102px #e53170,
        0 0 110px #e53170,
        0 0 119px #e53170,
        0 0 124px #e53170,
        0 0 130px #e53170,
        0 0 140px #e53170,
        0 0 145px #e53170,
        0 0 151px #e53170; */ 
}

.extra{
    background-color: #0f0e17;
    padding: 200px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
}