*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-app{
    width: 1140px;
    margin: auto;

}
/* TESTI */

.text-important{
    font-family: 'Fredoka One', cursive;
}

.text-normal{
    font-family: 'Exo 2', sans-serif;
}

.sottotitolo .text-important {
    padding-top: 50px;
    font-size: 35px ;
    text-align: center;
    color: #e53170 ;
}

.paragrafo .text-normal{
    padding: 65px 0 50px;
    text-align: center;
    font-size: 1.11em;
}
/* /TESTI */